<header class="header">
  <div class="nav-container">
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a routerLink="products">Products</a></li>
    </ul>
    <ul class="nav-links">
      <li>
        <div class="shopping-cart">
          <i class="fa fa-shopping-cart"></i>
          <span>Shopping Cart</span>
      </div>
      <a routerLink="shopping-cart">Shopping Cart {{cartItemCount()}}</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Logout</a></li>
      </ul>
  </div>
</header>
