<section class="shopping-cart-container">
    <h2>Shopping Cart</h2>
  
    <div class="cart-items">
      @for(cartItem of shoppingCart; track cartItem.productId) {
        <div class="cart-item">
          <img [src]="cartItem.imageUrl" [alt]="cartItem.name" class="cart-item-img">
          
          <div class="cart-item-details">
            <h3>{{ cartItem.name }}</h3>
            <p>$ {{ cartItem.price }}</p>
            
            <div class="quantity-container">
              <button class="quantity-btn" (click)="decreaseQuantity(cartItem)">-</button>
              <span class="quantity">{{ quantity(cartItem.productId) }}</span>
              <button class="quantity-btn" (click)="increaseQuantity(cartItem)">+</button>
            </div>
          </div>
  
          <button class="remove-btn" (click)="removeItem(cartItem)">Remove</button>
        </div>
      }
    </div>
  
    <div class="cart-summary">
      <p>Total Items: <span>{{ totalItems() }}</span></p>
      <p>Total Price: <span>$ {{ totalPrice() }}</span></p>
      <button class="checkout-btn">Proceed to Checkout</button>
    </div>
  </section>
  